.container,
body, html {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f9fdff;
  margin: 0;
}

a {
  text-decoration: none;
}



/* Секция */
h2 {
  text-align: center;
  padding: 30px 0 30px 0;
}