/* Секция регистрации курьеров */
.registr-courier__header {
    text-align: center;
    padding: 30px 0 30px 0;
}

.registr-courier__form {
    width: max-content;
    margin: auto;
}

.registr-courier__form label {
    display: block;
    font-size: 20px;
}