<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="#">
    <title>Сервис распределения заказов по курьерам</title>
</head>
<body>
    <header class="page-header">
        <div class="page-header__wrapper container">
            <nav class="site-nav page-header__site-nav">
                <ul class="site-nav__list">
                    <li class="site-nav__item"><a href="#">Главная</a></li>
                    <li class="site-nav__item"><a href="photo.html">Фото</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block content %}{% endblock %}
</body>
</html>