{% extends 'base.html' %}

<section class="page-upper">
    <div class="sale container">
        <div class="last-chance">
            <h2>Последний шанс</h2>
        </div>
        <div class="last-chance__button">
            <a href="#">Стулья</a>
            <a href="#">Диваны</a>
            <a href="#">Кресла</a>
        </div>

        <div class="product-sale__info">
            <div class="product-sale__item">
                <div class="product-sale__above"></div>
                <div class="product-sale__name">
                    <h3>Стул "Карамель"</h3>
                </div>

                <div class="product-sale__price">
                    <p class="product-price__new">$195</p>
                    <p class="product-price__old">$245</p>
                </div>
                <div class="product-sale__img">
                    <img src="#" alt="стул">
                </div>
                <div class="product-sale__buy">
                    Купить
                </div>
            </div>
        </div>
    </div>
</section>