{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main_page/main_page.css') }}">
{% endblock %}

{% block title %} Регистрация курьера {% endblock %}

{% block content %}
    <section class="courier-order__section container">
        <h2 class="courier-order__header">Список курьеров и заказов</h2>

{#        <div class="courier-order__block">#}
{#            <table>#}
{#                {% for courier in couriers %}#}
{#                <tr>#}
{#                    <th>Курьер</th>#}
{#                </tr>#}
{##}
{#                <tr>#}
{#                    <td>{{ courier.name}}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#            <ul>#}
{#                    <li></li>#}
{#                    <li>{{ courier.order}}</li>#}
{#                    <li>{{ courier.district}}</li>#}
{##}
{#            </ul>#}
{#        </div>#}

    </section>
{% endblock %}