{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/base/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/registr_order/registr_order.css') }}">
{% endblock %}

{% block title %} {% endblock %}

{% block content %}
    <section class="registr-courier__section container">
        <h2 class="registr-courier__header">Регистрация курьера</h2>

        <form class="registr-courier__form" action="/pages/registr_courier" method="post">
            <label for="name">Имя:</label><br>
            <input type="text" id="name" name="name"><br>
{#            <label for="email">Email:</label><br>#}
{#            <input type="email" id="email" name="email"><br>#}
            <input type="submit" value="Зарегистрировать">
        </form>
    </section>
{% endblock %}